In [1]:
from pandasql import sqldf
import pandas as pd
pysqldf = lambda q: sqldf(q, globals())


wr_data = pd.read_csv('wr_data.csv')
rb_data = pd.read_csv('rb_data.csv')
te_data = pd.read_csv('te_data.csv')
qb_data = pd.read_csv('qb_data.csv')
print(wr_data.columns)

Index(['Player', 'Year', 'ADP', 'Fantasy_Round', 'Position_ADP',
       'Positional_Rank', 'Overall_Rank', 'Returned_Value_Overall',
       'Returned_Value_Postition', 'College', 'Conference',
       'College_Wins_Final_Szn', 'Draft_Position', 'Draft_Round',
       'Team_Drafted_To', 'Team_Drafted_to_Ws_Prev_Yr', 'Receptions', 'Yards',
       'TDS'],
      dtype='object')

In [6]:
# Finding the percent that return value by conference to see if its better to draft from a specific conference
# This cell is WRs, cell below is RBs

pysqldf("""
SELECT 
    Conference,  
    AVG(Returned_Value_Postition) * 100 AS Avg_Returned_Value_Percentage
FROM wr_data
GROUP BY Conference
""")

       Conference  Avg_Returned_Value_Percentage
0             ACC                      25.000000
1        American                       0.000000
2          Big 10                      50.000000
3          Big 12                      33.333333
4         Big Sky                     100.000000
5     Independent                       0.000000
6             MAC                       0.000000
7             MWC                       0.000000
8   Mountain West                       0.000000
9          Pac-12                      50.000000
10            SEC                      55.555556

In [38]:
pysqldf("""
SELECT 
    Conference,  
    AVG(Returned_Value_Postition) * 100 AS Avg_Returned_Value_Percentage
FROM rb_data
GROUP BY Conference
""")

        Conference  Avg_Returned_Value_Percentage
0              AAC                      50.000000
1              ACC                      57.142857
2           Big 10                      54.545455
3           Big 12                      41.666667
4     Mid-American                     100.000000
5  Missouri Valley                     100.000000
6    Mountain West                       0.000000
7           Pac 12                      28.571429
8              SEC                      50.000000
9              USA                     100.000000

In [63]:
# Finding the average difference between position adp and ending rank based on those who return value and those who dont
# Essentially when they hit how much do they exceed expectations and when they miss how much do they miss expectations by
# This cell is for WRs, cell below is RBs

pysqldf("""
SELECT 
    CASE 
        WHEN Returned_Value_Postition = 1 THEN 'Returned Value' 
        ELSE 'Did Not Return Value' 
    END AS Return_Status,
    AVG(Position_ADP - Positional_Rank) AS Avg_Positional_Difference
FROM wr_data
GROUP BY Return_Status;
""")

          Return_Status  Avg_Positional_Difference
0  Did Not Return Value                   -60.9375
1        Returned Value                    17.0000

In [64]:
pysqldf("""
SELECT 
    CASE 
        WHEN Returned_Value_Postition = 1 THEN 'Returned Value' 
        ELSE 'Did Not Return Value' 
    END AS Return_Status,
    AVG(Position_ADP - Positional_Rank) AS Avg_Positional_Difference
FROM rb_data
GROUP BY Return_Status;
""")

          Return_Status  Avg_Positional_Difference
0  Did Not Return Value                 -26.750000
1        Returned Value                  13.382353

In [65]:
# Finding the % that return value based on how good the situation they are going into is

pysqldf("""
SELECT 
    CASE 
        WHEN Team_Drafted_to_Ws_Prev_Yr < 5 THEN 'Less than 5 Wins'
        WHEN Team_Drafted_to_Ws_Prev_Yr BETWEEN 5 AND 10 THEN '5-10 Wins'
        ELSE 'Over 10 Wins'
    END AS Wins_Bucket,
    AVG(Returned_Value_PosTition) * 100 AS Avg_Returned_Value_Percentage
FROM wr_data
GROUP BY Wins_Bucket
""")

        Wins_Bucket  Avg_Returned_Value_Percentage
0         5-10 Wins                      37.500000
1  Less than 5 Wins                      66.666667
2      Over 10 Wins                      25.000000

In [66]:
pysqldf("""
SELECT 
    CASE 
        WHEN Team_Drafted_to_Ws_Prev_Yr < 5 THEN 'Less than 5 Wins'
        WHEN Team_Drafted_to_Ws_Prev_Yr BETWEEN 5 AND 10 THEN '5-10 Wins'
        ELSE 'Over 10 Wins'
    END AS Wins_Bucket,
    AVG(Returned_Value_PosTition) * 100 AS Avg_Returned_Value_Percentage
FROM rb_data
GROUP BY Wins_Bucket
""")

        Wins_Bucket  Avg_Returned_Value_Percentage
0         5-10 Wins                      52.777778
1  Less than 5 Wins                      58.823529
2      Over 10 Wins                      29.411765

In [67]:
# Grouping value returning by reciever receptions

pysqldf("""
SELECT 
    CASE 
        WHEN Receptions < 60 THEN '<60 Receptions'
        WHEN Receptions BETWEEN 61 AND 75 THEN '61-75 Receptions'
        WHEN Receptions BETWEEN 76 AND 85 THEN '76-85 Receptions'
        WHEN Receptions BETWEEN 86 AND 100 THEN '86-100 Receptions'
        ELSE '100+ Receptions'
    END AS Receptions_Bucket,
    AVG(Returned_Value_PosTition) * 100 AS Avg_Returned_Value_Percentage
FROM wr_data
GROUP BY Receptions_Bucket
""")

   Receptions_Bucket  Avg_Returned_Value_Percentage
0    100+ Receptions                      33.333333
1   61-75 Receptions                      40.000000
2   76-85 Receptions                      28.571429
3  86-100 Receptions                      40.000000
4     <60 Receptions                      50.000000

In [68]:

pysqldf("""
SELECT 
    CASE 
        WHEN Carries < 150 THEN '<150 Carries'
        WHEN Carries BETWEEN 151 AND 200 THEN '151-200 Carries'
        WHEN Carries BETWEEN 201 AND 250 THEN '201-250 Carries'
        WHEN Carries BETWEEN 251 AND 300 THEN '251-300 Carries'
        ELSE '300+ Yards'
    END AS Carries_Bucket,
    AVG(Returned_Value_PosTition) * 100 AS Avg_Returned_Value_Percentage
FROM rb_data
GROUP BY Carries_Bucket
""")

    Carries_Bucket  Avg_Returned_Value_Percentage
0  151-200 Carries                      55.555556
1  201-250 Carries                      50.000000
2  251-300 Carries                      47.368421
3       300+ Yards                      22.222222
4     <150 Carries                      58.333333

In [69]:
# Grouping value returning by reciever yards

pysqldf("""
SELECT 
    CASE 
        WHEN Yards < 500 THEN '<500 Yards'
        WHEN Yards BETWEEN 500 AND 750 THEN '500-750 Yards'
        WHEN Yards BETWEEN 750 AND 1000 THEN '750-1000 Yards'
        WHEN Yards BETWEEN 1000 AND 1250 THEN '1000-1250 Yards'
        WHEN Yards BETWEEN 1250 AND 1500 THEN '1250-1500 Yards'
        ELSE '1500+ Yards'
    END AS Yards_Bucket,
    AVG(Returned_Value_PosTition) * 100 AS Avg_Returned_Value_Percentage
FROM wr_data
GROUP BY Yards_Bucket
""")

      Yards_Bucket  Avg_Returned_Value_Percentage
0  1000-1250 Yards                      35.714286
1  1250-1500 Yards                      16.666667
2      1500+ Yards                      57.142857
3    500-750 Yards                      33.333333
4   750-1000 Yards                      58.333333
5       <500 Yards                      50.000000

In [70]:
pysqldf("""
SELECT 
    CASE 
        WHEN Yards < 1000 THEN '<1000 Yards'
        WHEN Yards BETWEEN 1000 AND 1300 THEN '1000-1300 Yards'
        WHEN Yards BETWEEN 750 AND 1000 THEN '750-1000 Yards'
        WHEN Yards BETWEEN 1301 AND 1600 THEN '1301-1600 Yards'
        WHEN Yards BETWEEN 1601 AND 2000 THEN '1601-2000 Yards'
        ELSE '2001+ Yards'
    END AS rb_Yards_Bucket,
    AVG(Returned_Value_PosTition) * 100 AS Avg_Returned_Value_Percentage
FROM rb_data
GROUP BY rb_Yards_Bucket
""")

   rb_Yards_Bucket  Avg_Returned_Value_Percentage
0  1000-1300 Yards                      64.705882
1  1301-1600 Yards                      42.105263
2  1601-2000 Yards                      40.000000
3      2001+ Yards                      33.333333
4      <1000 Yards                      50.000000

In [71]:
#Grouping value returning by reciver tds

pysqldf("""
SELECT 
    CASE 
        WHEN TDS BETWEEN 0 AND 5 THEN '0-5 TDs'
        WHEN TDS BETWEEN 6 AND 10 THEN '6-10 TDs'
        WHEN TDS BETWEEN 11 AND 15 THEN '11-15 TDs'
        WHEN TDS BETWEEN 16 AND 20 THEN '16-20 TDs'
        ELSE '20+ TDs'
    END AS TDs_Bucket,
    AVG(Returned_Value_PosTition) * 100 AS Avg_Returned_Value_Percentage
FROM wr_data
GROUP BY TDs_Bucket
""")

  TDs_Bucket  Avg_Returned_Value_Percentage
0    0-5 TDs                      41.666667
1  11-15 TDs                      43.750000
2  16-20 TDs                      37.500000
3    20+ TDs                     100.000000
4   6-10 TDs                      31.250000

In [72]:
pysqldf("""
SELECT 
    CASE 
        WHEN TDS BETWEEN 1 AND 9 THEN '1-9 TDs'
        WHEN TDS BETWEEN 10 AND 14 THEN '10-14 TDs'
        WHEN TDS BETWEEN 15 AND 19 THEN '15-19 TDs'
        WHEN TDS BETWEEN 20 AND 30 THEN '20-30 TDs'
        ELSE '20+ TDs'
    END AS rb_TDs_Bucket,
    AVG(Returned_Value_PosTition) * 100 AS Avg_Returned_Value_Percentage
FROM rb_data
GROUP BY rb_TDs_Bucket
""")

  rb_TDs_Bucket  Avg_Returned_Value_Percentage
0       1-9 TDs                      60.000000
1     10-14 TDs                      47.619048
2     15-19 TDs                      36.842105
3     20-30 TDs                      50.000000

In [73]:
#Grouping by draft round

pysqldf("""
SELECT 
    Draft_Round,
    AVG(Returned_Value_Postition) * 100 AS Avg_Returned_Value_Percentage
FROM wr_data
GROUP BY Draft_Round
""")

   Draft_Round  Avg_Returned_Value_Percentage
0            1                      44.444444
1            2                      36.842105
2            3                      25.000000
3            5                      33.333333

In [75]:
pysqldf("""
SELECT 
    Draft_Round,
    AVG(Returned_Value_Postition) * 100 AS Avg_Returned_Value_Percentage
FROM rb_data
GROUP BY Draft_Round
""")

   Draft_Round  Avg_Returned_Value_Percentage
0            1                      53.846154
1            2                      36.842105
2            3                      44.444444
3            4                      70.000000
4            5                      83.333333
5            6                       0.000000
6            7                       0.000000

In [76]:
#Finding the players who exceeded expectations, those who finished 25% above expectations

pysqldf("""
SELECT *
FROM wr_data
WHERE Positional_Rank <= Position_ADP * 0.75;
""")

,Player,Year,ADP,Fantasy_Round,Position_ADP,Positional_Rank,Overall_Rank,Returned_Value_Overall,Returned_Value_Postition,College,Conference,College_Wins_Final_Szn,Draft_Position,Draft_Round,Team_Drafted_To,Team_Drafted_to_Ws_Prev_Yr,Receptions,Yards,TDS
0,Cooper Kupp,2017,132,11,51,24,70,1,1,Eastern Washington,Big Sky,12,69,3,Los Angeles Rams,4,117,1700,17
1,Justin Jefferson,2020,121,11,48,6,23,1,1,LSU,SEC,15,22,1,Minnesota Vikings,10,111,1540,18
2,Ja'Marr Chase,2021,73,7,29,5,16,1,1,LSU,SEC,15,5,1,Cincinnati Bengals,4,84,1780,20
3,Zay Flowers,2023,110,10,46,31,71,1,1,Boston College,ACC,3,22,1,Baltimore Ravens,10,78,1077,12
4,Chris Olave,2022,107,9,44,25,66,1,1,Ohio State,Big 10,11,11,1,New Orleans Saints,9,65,936,13
5,Brandon Aiyuk,2020,163,14,61,35,79,1,1,ASU,Pac-12,8,25,1,San Francisco 49ers,13,65,1192,8
6,CeeDee Lamb,2020,100,9,40,22,54,1,1,Oklahoma,Big 12,12,17,1,Dallas Cowboys,8,62,1327,14
7,Deebo Samuel Sr.,2019,176,15,59,32,85,1,1,South Carolina,SEC,4,36,2,San Francisco 49ers,4,62,882,11
8,Stefon Diggs,2016,98,9,41,30,115,0,1,Maryland,Big 10,7,146,5,Minnesota Vikings,11,62,792,5
9,Jordan Addison,2023,90,8,37,23,58,1,1,USC,Pac-12,11,23,1,Minnesota Vikings,13,59,875,8
10,Michael Thomas,2016,128,11,51,7,30,1,1,Ohio State,Big 10,12,47,2,New Orleans Saints,7,56,781,9
11,Jaylen Waddle,2021,105,9,44,13,36,1,1,Alabama,SEC,13,6,1,Miami Dolphins,10,28,591,4
12,D.K. Metcalf,2019,138,12,51,34,87,1,1,Ole Miss,SEC,7,64,2,Seattle Seahawks,10,26,569,5

In [77]:
pysqldf("""
SELECT *
FROM rb_data
WHERE Positional_Rank <= Position_ADP * 0.75;
""")

,Player,Year,ADP,Fantasy_Round,Position_ADP,Overall_Rank,Positional_Rank,Returned_Value_Overall,Returned_Value_Postition,College,Conference,College_Wins_Final_Szn,Draft_Position,Draft_Round,Team_Drafted_To,Team_Drafted_to_Ws_Prev_Yr,Carries,Yards,TDS
0,Jonathan Taylor,2020,43,4,21,34,6,1,1,Wisconsin,Big 10,10,41,2,Indianapolis,7,320,2003,21
1,J.K. Dobbins,2020,83,7,31,94,23,0,1,Ohio State,Big 10,13,55,2,Baltimore,14,301,2003,21
2,Ezekiel Elliott,2016,8,1,3,5,2,1,1,Ohio State,Big 10,12,4,1,Dallas,4,289,1821,23
3,David Johnson,2015,123,11,45,22,7,1,1,Northern Iowa,Missouri Valley,8,86,3,Arizona,11,287,1553,17
4,Kenneth Walker III,2022,110,10,38,59,18,1,1,Michigan State,Big 10,11,41,2,Seattle,7,263,1636,18
5,Kareem Hunt,2017,38,4,33,9,4,1,1,Toledo,Mid-American,9,86,3,Kansas City,12,262,1475,10
6,Devontae Booker,2016,138,12,49,129,33,1,1,Utah,Pac 12,10,136,5,Denver,9,258,1261,11
7,Najee Harris,2021,15,2,11,18,3,0,1,Alabama,SEC,13,24,1,Pittsburgh,12,251,1456,26
8,Nick Chubb,2018,118,10,43,66,17,1,1,Georgia,SEC,13,35,2,Cleveland,0,223,1345,15
9,Miles Sanders,2019,71,6,31,60,14,1,1,Penn State,Big 10,9,53,2,Philadelphia,9,220,1274,9
10,Saquon Barkley,2018,7,1,6,2,1,1,1,Penn State,Big 10,11,2,1,New York Giants,3,217,1271,18
11,Nyheim Hines,2018,203,17,60,96,27,1,1,NC State,ACC,9,104,4,Indianapolis,8,197,1112,12
12,D'Andre Swift,2020,67,6,29,73,18,0,1,Georgia,SEC,12,35,2,Detroit,3,196,1218,7
13,Devon Achane,2023,137,12,42,85,24,1,1,Texas A&M,SEC,5,84,3,Miami,9,196,1102,8
14,Javonte Williams,2021,60,5,25,67,17,0,1,North Carolina,ACC,8,35,2,Denver,5,157,1140,19
15,Jamaal Williams,2017,141,12,51,111,31,1,1,BYU,Big 12,9,134,5,Green Bay,7,157,1140,19
16,Chuba Hubbard,2021,171,15,52,132,35,1,1,Oklahoma State,Big 12,8,126,4,Carolina,5,133,625,5
17,Todd Gurley,2015,61,6,27,15,5,1,1,Georgia,SEC,10,10,1,St.Louis/ Los Angeles Rams,6,123,911,9
18,Alvin Kamara,2017,142,12,52,4,3,1,1,Tenessee,SEC,9,67,3,New Orleans,7,103,596,9
19,Antonio Gibson,2020,97,9,39,63,13,1,1,Memphis,AAC,12,66,3,Washington,3,33,369,4

In [78]:
#Finding the players who REALLY exceeded expectations, those who finished 50% above expectations
pysqldf("""
SELECT *
FROM wr_data
WHERE Positional_Rank <= Position_ADP * 0.5;
""")

,Player,Year,ADP,Fantasy_Round,Position_ADP,Positional_Rank,Overall_Rank,Returned_Value_Overall,Returned_Value_Postition,College,Conference,College_Wins_Final_Szn,Draft_Position,Draft_Round,Team_Drafted_To,Team_Drafted_to_Ws_Prev_Yr,Receptions,Yards,TDS
0,Cooper Kupp,2017,132,11,51,24,70,1,1,Eastern Washington,Big Sky,12,69,3,Los Angeles Rams,4,117,1700,17
1,Justin Jefferson,2020,121,11,48,6,23,1,1,LSU,SEC,15,22,1,Minnesota Vikings,10,111,1540,18
2,Ja'Marr Chase,2021,73,7,29,5,16,1,1,LSU,SEC,15,5,1,Cincinnati Bengals,4,84,1780,20
3,Michael Thomas,2016,128,11,51,7,30,1,1,Ohio State,Big 10,12,47,2,New Orleans Saints,7,56,781,9
4,Jaylen Waddle,2021,105,9,44,13,36,1,1,Alabama,SEC,13,6,1,Miami Dolphins,10,28,591,4

In [79]:
pysqldf("""
SELECT *
FROM rb_data
WHERE Positional_Rank <= Position_ADP * 0.5;
""")

,Player,Year,ADP,Fantasy_Round,Position_ADP,Overall_Rank,Positional_Rank,Returned_Value_Overall,Returned_Value_Postition,College,Conference,College_Wins_Final_Szn,Draft_Position,Draft_Round,Team_Drafted_To,Team_Drafted_to_Ws_Prev_Yr,Carries,Yards,TDS
0,Jonathan Taylor,2020,43,4,21,34,6,1,1,Wisconsin,Big 10,10,41,2,Indianapolis,7,320,2003,21
1,David Johnson,2015,123,11,45,22,7,1,1,Northern Iowa,Missouri Valley,8,86,3,Arizona,11,287,1553,17
2,Kenneth Walker III,2022,110,10,38,59,18,1,1,Michigan State,Big 10,11,41,2,Seattle,7,263,1636,18
3,Kareem Hunt,2017,38,4,33,9,4,1,1,Toledo,Mid-American,9,86,3,Kansas City,12,262,1475,10
4,Najee Harris,2021,15,2,11,18,3,0,1,Alabama,SEC,13,24,1,Pittsburgh,12,251,1456,26
5,Nick Chubb,2018,118,10,43,66,17,1,1,Georgia,SEC,13,35,2,Cleveland,0,223,1345,15
6,Miles Sanders,2019,71,6,31,60,14,1,1,Penn State,Big 10,9,53,2,Philadelphia,9,220,1274,9
7,Saquon Barkley,2018,7,1,6,2,1,1,1,Penn State,Big 10,11,2,1,New York Giants,3,217,1271,18
8,Nyheim Hines,2018,203,17,60,96,27,1,1,NC State,ACC,9,104,4,Indianapolis,8,197,1112,12
9,Todd Gurley,2015,61,6,27,15,5,1,1,Georgia,SEC,10,10,1,St.Louis/ Los Angeles Rams,6,123,911,9
10,Alvin Kamara,2017,142,12,52,4,3,1,1,Tenessee,SEC,9,67,3,New Orleans,7,103,596,9
11,Antonio Gibson,2020,97,9,39,63,13,1,1,Memphis,AAC,12,66,3,Washington,3,33,369,4